<!-- views/partials/_header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="/urls">
            TinyApp
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/urls">Home</a></li>
        </ul>
    </div>

    <% if (username) { %>
        <div>
            <p>Greetings, <%= username %> !</p>
            <form action="/logout" method="POST"><button name="button">Sign out</button></form></td>
            </form>
        </div>
    <% } else { %>
        <div>
            <form action="/login" method="POST">
                <label for="username-field">Username:</label>
                <input id="username-field" name="username">
                <label for="password-field">Password:</label>
                <input id="password-field" name="password" type="password">
                <input type="submit" value="Sign in">
            </form>
        </div>
    <% } %>
</div>
</nav>