<!-- views/partials/_header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/urls">
            TinyApp
        </a>

        <!-- <ul class="nav navbar-nav">
            <li><a href="/urls">Home</a></li>
        </ul> -->
    </div>

    <% if (!username) { %>
        <form action="/login" method="POST">
        <button type="submit"><a href="/register">Register</a></button>
        <button type="submit"><a href="/login">Login</a></button>
    </form>
    <% } else { %>
        <div>
            <p>Welcome, <%= username.email %> !</p>
        </div>
        <div id="navbar-mylinks-logout">
        <button type="button" name="button"><a href="/urls">My links</a></button>
      <form action="/logout" method="POST">
        <button type="submit">Logout</button>
      </form>
    </div>
    <% } %>
</div>
</nav>