<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/_head %>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
    <table>
      <thead>
        <tr>
          <th>Short URL</th>
          <th>Long URL</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <% for (key in urlDatabase) {%>
        <tr>
          <td><%= key %></td>
          <td><%= urlDatabase[key] %></td>
          <td><form method="POST" action="/urls/<%= key %>/delete"><a href="/urls/<%= key %>">Edit</a><button name="button">Delete</button></form></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <a href="/urls/new">Shorten another URL</a>
<footer>
    <% include ./partials/_footer %>
</footer>
</body>
</html>