<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/_head %>
</head>

<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <h3>Edit your current short URL <%= shortUrl %>:</h3>
    <form method="POST" action="/urls/<%= shortUrl %>">
      <label for="longUrl"></label>
      <input id="longUrl" type="text" name="longUrl" placeholder="<%= longUrl %>">
      <input type="submit" value="Update">
    </form>
  <a href="/urls/new">Click to shorter a new URL</a>

<footer>
  <% include ./partials/_footer %>
</footer>

</body>
</html>